.nav {
    a {
        color: rgb(251, 255, 6);
        background-color: black;
    }
}
.info {
    font-weight: bold;
    font-size: larger;
    padding: 1.5vh 1vw;
    border: 2px solid black;
    width: 4vw;
    white-space: nowrap;
    overflow: hidden;
}


