.main {
    // max-width: 40%;
    background-color: transparent;
    // border: 1px solid
}
.alert {
    position: absolute;
    bottom: 2vh;
    //right: 2vw;
    // margin: 0 auto;
}
body{
    margin: 0px;
    font-family: "Segoe UI", Arial, sans-serif;

}
