.red {
  color: #c72a2a;
  text-align: center;
  :focus,
  :hover {
    color: rgb(19, 9, 9);
  }
}

.login-page {
  padding-bottom: 3px;
  label {
    font-weight: bold;
  }
}
.paper {
  // box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
  padding: 3vh 3vw;
  border-radius: 8px;
  border: 1px solid #dadce0;
  height: 60vh;
}
.padding {
  margin-top: 10vh;
  margin-bottom: 2vh;
}
